.c-header .customize-partial-edit-shortcut {
}

.ideapark-customize-partial-edit-shortcut {
	top: 2px;
}

.c-header .customize-partial-edit-shortcut button {
	top: -5px;
}

.c-header--mobile > .customize-partial-edit-shortcut button,
.c-header__advert_bar > .customize-partial-edit-shortcut button,
.home-section > .customize-partial-edit-shortcut button,
.c-footer > .customize-partial-edit-shortcut button,
.ideapark-customize-partial-edit-shortcut-button {
	top:  2px !important;
	left: 2px !important;
}


.main-menu-container > .customize-partial-edit-shortcut {
	left:  0 !important;
	top:   0 !important;
	float: none;
}

.ideapark-customize-partial-edit-shortcut {
	left:  0 !important;
	top:   0 !important;
	float: none;
}


.ip_customizer_attention {
	margin:     30px auto;
	padding:    20px;
	font-size:  18px;
	text-align: center;
	background: #F4F6F9;
}

.ip_customizer_attention .dashicons-info {
	font-size:      30px;
	line-height:    21px;
	vertical-align: middle;
	color:          #0085ba;
	display:        inline-block;
	margin-right:   10px;
}

.ip_customizer_attention .customizer-edit {
	background-color: #0085ba;
	color:            #fff;
	display:          inline-block;
	outline:          none;
	border:           none;
	border-radius:    4px;
	font-size:        16px;
	line-height:      normal;
	padding:          15px 43px 16px 43px;
	text-align:       center;
	font-weight:      bold;
}